.pokemonCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "Pokemon-img Pokemon-details";
  margin: 50px;
  width: 400px;
  height: 250px;
  font-size: 12px;
  border-radius: 5px;
  border-radius: 20px;
  box-shadow: 1px 3.98256px 10.4564px rgba(0, 0, 0, 0.258);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 70%,
    rgba(2, 34, 27, 1) 90%
  );
}

.Pokemon-details {
  grid-area: Pokemon-details;
  background-color: rgba(127, 255, 212, 0);
}

.pokemon-img {
  height: 200px;
  width: 200px;
  grid-area: Pokemon-img;
  background-color: rgba(127, 255, 212, 0);
  border-radius: 5px;
  border-radius: 20px;
  margin-top: 25px;
}

.Pokemon-Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
