* {
  background-color: rgb(240, 240, 240);
}

.searchbar {
  width: 400px;
  height: 25px;
  border-radius: 50px;
  border: black solid thin;
  text-align: center;
}
.search {
  display: flex;
  flex-direction: column;

  align-items: center;
}

button {
  height: 27px;
  width: 80px;
  border-radius: 7px;
  cursor: pointer;
  margin: 5px;
}
button:hover {
  background-color: black;
  color: aliceblue;
}

.searchresults {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  width: 400px;
  font-size: 20px;
  margin: 10px;
}

.meal-img {
  height: 250px;
  width: 400px;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
}

.info-details {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 100px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
  background-color: rgba(127, 255, 212, 0);
}

.title-p-tag {
  color: rgba(0, 0, 0, 0.487);
}

p {
  background-color: rgba(127, 255, 212, 0);
}
